#eclipse
.project
.classpath
.metadata
org.*
bin

#idea
.idea
*.iml
*.ipr
*.iws
*.eml
out

#gradle
build
.gradle
gradle.properties

#runtime
eclipse
run

#mac
.DS_Store
*.command

#workspace
screenshots
asm/**
config/**
crash-reports/**
minetweaker.log
options.txt
usernamecache.json
logs/**
saves/**

/server.properties
*.psd
classes
extras/**